@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://i.etsystatic.com/30295428/r/il/818b14/3205901149/il_1140xN.3205901149_s159.jpg" height="500" width="600" />
</div>
